
<div class="flex justify-center flex-wrap gap-10 pb-5">
    <div *ngFor="let item of recipes" >
        <div *ngIf="recipes.length === 0">
            Non ci sono elementi da visualizzare.
          </div>
        <div>
            <app-recipe-card [recipe]="item"></app-recipe-card>
        </div>

        
    </div>

    <div class="fixed bottom-10 right-10 z-10">
        <button mat-fab color="accent" (click)="handleOpenCreateRecipeDialog()">
            <mat-icon>add</mat-icon>

        </button>
    </div>
</div>